---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="John Doe's About"
  seoTitle="About John Doe, Software Engineer"
  seoDesc={"Hi there! My name is John Doe, and I'm a software engineer " +
    "with over 5 years of experience in the industry"}
>
  <div class="w-6/12 mx-auto">
    <h1 class="text-5xl">About</h1>
    <img
      src="/public/images/about.jpg"
      class="my-2 shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.6)] mx-auto"
    />
    <p>
      Hi there! My name is John Doe, and I'm a software engineer with over 5
      years of experience in the industry. I'm passionate about building
      high-quality software that solves real-world problems and makes people's
      lives easier.
    </p><br />
    <p>
      My expertise lies in full-stack development, with a focus on web
      applications. I'm proficient in a variety of programming languages,
      including JavaScript, Python, and Ruby, and I'm comfortable working with
      tools and frameworks like React, Node.js, and Django.
    </p><br />
    <p>
      In addition to my technical skills, I pride myself on my ability to
      collaborate with team members and communicate effectively with
      stakeholders. I'm a natural problem solver and enjoy tackling complex
      challenges.
    </p><br />
    <p>
      When I'm not coding, you can find me hiking in the mountains or playing
      guitar in my local band. I'm always looking for new opportunities to work
      on exciting projects, so if you're interested in collaborating, please
      feel free to get in touch. Thanks for stopping by!
    </p>
  </div>
</MainLayout>
