---
---

<footer class="text-center mt-auto py-4">
  <small
    >Copyright &copy; <span id="copyright"></span> | All rights reserved</small
  >
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
